<div *ngIf="!isUserLoggedIn && !isAdminLoggedIn">
  <mat-toolbar color="primary" class="navbar">
    <span class="navbar-brand">Task Management Website</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/register" routerLinkActive="active">Register</button>
    <button mat-button routerLink="/login" routerLinkActive="active">Login</button>
  </mat-toolbar>
</div>

<div *ngIf="isAdminLoggedIn">
  <mat-toolbar color="primary" class="navbar">
    <span class="navbar-brand">Task Management Website</span>
    <span class="spacer"></span>
    <button mat-button>{{userInfo.name}}</button>
    <button mat-button routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</button>
    <button mat-button routerLink="/admin/task" routerLinkActive="active">Post Task</button>
    <button mat-button (click)="logout()">Logout</button>
  </mat-toolbar>
</div>

<div *ngIf="isUserLoggedIn">
  <mat-toolbar color="primary" class="navbar">
    <span class="navbar-brand">Task Management Website</span>
    <span class="spacer"></span>
    <button mat-button>{{userInfo.name}}</button>
    <button mat-button routerLink="/user/dashboard" routerLinkActive="active">Dashboard</button>
    <button mat-button (click)="logout()">Logout</button>
  </mat-toolbar>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>